{% extends 'base.html' %}
{% load static %}
{% load form_tags %}

{% block content %}
    <!-- https://medium.com/weekly-webtips/enable-line-numbering-to-any-html-textarea-35e15ea320e2 -->
    <!--
        Form Structure
        2. TextArea for source_code
        3. File select to populate textarea
        4. Submit Button
     -->
    <div class="row p20">
        <form action="{% url 'submit' %}" method="POST">
            {% csrf_token %}
            {% form_error form %}
            {% basic_form_headless form %}
            <div class="form-group">
                <input type="file" id="myFile" name="filename" onchange="populateSourceCode()">
            </div>
            <button class="btn btn-primary center-block" type="submit">Send to Print!</button>
        </form>
    </div>
{% endblock %}

{% block page_script %}
    <script type="text/javascript">
        function populateSourceCode() {
            var file = document.getElementById('myFile').files[0];
            var text = document.getElementById('id_source_code');
            var reader = new FileReader();
            reader.onload = function(e) {
                text.value = e.target.result;
            }
            reader.readAsText(file);
            document.getElementById("myFile").value = "";
        }
    </script>
{% endblock %}
