<form id="{{ id }}" action="{{ action }}" method="{{ method }}" enctype="multipart/form-data">
    {% csrf_token %}
    {% for field in form %}
        <div class="form-group">
            {% if field.field.widget.is_hidden is not True %}
                {% if field.field.required %}
                    <label for="{{ field.name }}">{{ field.label }}<span class="required"> * </span></label>
                {% else %}
                    <label for="{{ field.name }}">{{ field.label }}</label>
                {% endif %}
            {% endif %}
            {{ field }}
            <div>
                <small class="help-block text-muted">{{ field.help_text }}</small>
            </div>
        </div>
    {% endfor %}

    {% if cancel_url %}
        <a href="{{ cancel_url }}" class="btn btn-default">Cancel</a>
    {% endif %}
    <button class="btn btn-primary" type="submit">{{ button_text }}</button>
    {% if force_save %}
        <input type="submit" name="force_save" value="Force Save" class="btn btn-info">
    {% endif %}
</form>
