{% load static %}

<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>
            {% block title %}{{ PROJECT_TITLE }}{% endblock %}
        </title>
        <link rel="shortcut icon" href="{% static 'img/print.ico' %}">
        {% include "includes/css.html" %}
    </head>
    <body>
        <div id="wrapper">
            <!-- navbar -->
            {% include "includes/navbar.html" %}

            <!-- Page Content -->
            <div id="page-wrapper">
                {% include "django_messages.html" %}
                {% block content %}{% endblock %}
            </div>
            <!-- /#page-content-wrapper -->
        </div>
        <!-- /#wrapper -->

        {% include 'includes/js.html' %}
        {% block page_script %}{% endblock %}
    </body>
</html>