{% if messages %}
    <ul class="p-0" id="id-django-messages" style="padding-inline-start: 0">
        {% for message in messages %}
            {% if message.tags == 'success' %}
                <div class="alert alert-success" role="alert">
            {% elif message.tags == 'error' %}
                <div class="alert alert-danger" role="alert">
            {% elif message.tags == 'warning' %}
                <div class="alert alert-danger" role="alert">
            {% else %}
                <div class="alert alert-info" role="alert">
            {% endif %}
        {% if message.tags %}
            <b>{{ message.tags | capfirst }}:</b>
        {% endif %}
        {{ message | safe }}
        </div>
        {% endfor %}
    </ul>
{% endif %}
