{% extends 'base.html' %}

{% block title %}Login{% endblock %}

{% block head %}
<!-- simple css for centering of login field -->
<style>
	.login-form {
		margin: 0 auto;
		width: 300px;
	}

</style>

{% endblock %}

{% block content %}

    <nav class="navbar bg-light">
  <div class="container-fluid">
    <div class="navbar-brand" >Print Server</div>
    <div class="navbar-brand" >Login</div>
  </div>
</nav>
    <br/>
<div class="container d-flex justify-content-center">


<div class="card p-2" style="width: 25rem;">
    <form method="post">
  {% csrf_token %}
  {{ form.as_p }}
        <div class="d-grid gap-2">

      <button type="submit" class="btn btn-success">Log In</button>
    </div>

</form>
</div>
</div>

{% endblock %}