{% extends "base.html" %}

{% block head %}
<!-- CSS for table-stripped -->
<style>
		table {
				border-collapse: collapse;
				width: 100%;
		}

		th, td {
				text-align: left;
				padding: 8px;
		}

		tr:nth-child(even){background-color: #f2f2f2}

		th {
				background-color: #4CAF50;
				color: black;
		}
</style>
{% endblock %}

{% block content %}

	<!-- Create New Request Button -->
	<a href="{% url 'submit' %}" class="btn btn-primary">New Request</a>

	<table class="table table-stripped">
		<thead>
			<tr>
				<th>Print ID</th>
				<th>Owner</th>
				<th>Submission Time</th>
				<th>Printing Time</th>
				<th>Total Page</th>
				<th>Status</th>
			</tr>
		</thead>
		<tbody>
			{% for print in prints %}
			<tr>
				<td>{{ print.print_id }}</td>
				<td>{{ print.owner }}</td>
				<td>{{ print.submission_time }}</td>
				<td>{{ print.printing_time }}</td>
				<td>{{ print.total_page }}</td>
				<td>{{ print.get_status_display }}</td>
			</tr>
			{% empty %}
			<tr>
				<!-- print middle of line -->
				<td colspan="7" style="text-align: center;">No print found</td>
			{% endfor %}
		</tbody>

{% endblock %}